body {
    background-color:black;
    margin: 0;
    font-family:'Libre Baskerville', serif;
}
.headerContainer{
background-color: #E9967A;
}
.headerContainer a {
    /*Remember that this targets anchor elements inside any element using the headerContainer class */
    padding: 16px  18px;
    display: inline-block;
    color: black;
    text-decoration: none;
}

.headerContainer a:hover{
    /*Change the styling for the anchor elements inside the headerContainer class when we mouse over them */
    background-color: black;
    color: #E9967A;
    transform: rotate(360deg);
    transition-duration: 4s;
}

#clockDisplay{
    color: #E9967A;
    position: absolute;
    top: 50%; /* Move element down 50% of the height of the parent*/
    left: 35%; /* Move element right 50% of the width of the parent */
    transform: translate X(-50%) translate Y (-50%); /*Move the element 50% of it's width to left and 50% of it's height up */
    font-size: 50px;
}
#dateDisplay {
    color: #E9967A;
    position: absolute;
    top: 60%; /* Move element down 50% of the height of the parent*/
    left: 35%; /* Move element right 50% of the width of the parent */
    transform: translate X(-50%) translate Y (-50%); /*Move the element 50% of it's width to left and 50% of it's height up */
    font-size: 50px;

}